html, body {
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#quote-content {
  color: #7b7b84;
  height: 100%;
  font-family: 'Times New Roman';
  font-style: italic;
  margin: 10% auto;
  width: 85%;
}

#quote-line {
  animation-name: animating-quote;
  animation-duration: .75s;
  animation-timing-function: ease-out;
  font-size: 4.5rem;
  margin: 0;
  text-align: left;
  transition-delay: .7s;
}

#quote-author {
  animation-name: animating-author;
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
  font-size: 2.85rem;
  margin: 0;
  text-align: right;
  padding-top: 20px;
  transition-delay: 1.5s;
}
#quote-author:before {
  content: '- '
}

@keyframes animating-quote {
  0%     { opacity: 0; }
  50%    { opacity: 0; }
  75%    { opacity: .25; }
  100%   { opacity: 1; }
}

@keyframes animating-author {
  0%     { opacity: 0; }
  50%    { opacity: 0; }
  75%    { opacity: .25; }
  100%   { opacity: 1; }
}
